.loginBlock{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: lightpink;
}

.loginBtn{
    display: inline-block;
    margin:0 auto;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #ff4040;
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
